*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}
body{
    background-color: #555;
}
#container{
    margin: 30px auto;
    width: 400px;
    height: 500px;
    background-color: #999;
}